{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        {% if app.session %}
            {{ app.session.get('nickname') }} <br><br>
        {% endif %}
        {% if videos %}
            {% set i=0 %}
            {% for video in videos %}
            <img src="{{ asset('thumbnails/' ~ video.thumbnail) }}" />
            <!--
            <video controls style="width:180px;height:90px;" poster="poster.png">
                <source src="{{video.link}}" type="video/mp4;" codecs="avc1.42E01E, mp4a.40.2" />
            </video>
            -->
            {%endfor%}
        {% endif %}
        <div class="col-md-6 text-center">
            <a href="{{ path('user_signin') }}">Login</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{{ path('user_signup') }}">Registrati</a>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}
